.custom-select {
  position: relative;
}

.custom-select__default-select {
  display: none;
}

.custom-select__selected {
  position: relative;
}

.custom-select__selected:after {
  content: "";
  position: absolute;

  display: inline-block;
  top: 8px;
  right: 11px;

  width: 3.5px;
  height: 3.5px;

  transform: matrix(1.1, 1, 1.1, -1, 0, 0);
  border-top: 0.5px solid black;
  border-right: 0.5px solid black;
}

.custom-select--active .custom-select__selected:after {
  top: 11.5px;
  transform: matrix(1.1, -1, 1.1, 1, 0, 0);
}

.custom-select__options {
  z-index: 99;

  position: absolute;
  top: 100%;
  left: 0;
  right: 0;

  max-height: 600px;
  margin: 0;
  padding: 0;

  list-style: none;

  background-color: #eee;
  overflow: scroll;
}

.custom-select__options--hide {
  display: none;
}

.custom-select__selected,
.custom-select__option {
  width: 100%;
  height: 24.5px;
  padding: 1px 0;


  font-size: 14px;
  line-height: 20px;

  box-shadow: 0 1px 0 0 #E8EAED;
  border: none;
  overflow: hidden;
  cursor: pointer;
}

.custom-select__option:hover,
.custom-select__option--current {
  background-color: rgba(0, 0, 0, 0.1);
}

.custom-select--active .custom-select__selected {
  font-size: 0;
}
