.password {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;

  width: 272.5px;
  margin: 0;
  padding: 0;

  border: none;
}

.password__input-wrapper {
  position: relative;

  display: flex;
  flex-wrap: wrap;

  padding-bottom: 35px;
}

.password__input-wrapper::after {
  content: "";

  position: absolute;

  bottom: 7px;
  width: 100%;
}

.password input {
  width: 100%;
  height: 24.5px;

  font-size: 14px;
  line-height: 20px;

  box-shadow: 0 1px 0 0 #E8EAED;
  border: none;
}

.password input[placeholder] {
  font-family: "SF UI Display", sans-serif;
  letter-spacing: -0.008em;
}

.password label {
  display: block;

  line-height: 12px;
  font-size: 10px;

  color: #E8EAED;
}

.password__info {
  margin: 0;
  margin-top: 19px;
  padding: 0;

  list-style: none;
}

.password__info li {
  position: relative;

  padding: 2px 0;
  padding-left: 18px;

  font-size: 10px;
  line-height: 12px;
}

.password__info li::after {
  content: "";

  position: absolute;
  top: 4px;
  left: 4px;

  display: block;
  transform: rotate(-45deg);

  width: 7px;
  height: 3px;

  border-left: 1px solid #E8EAED;
  border-bottom: 1px solid #E8EAED;
}
//grey #E8EAED;
//green #15A479;
