.rating {
  display: flex;
  padding: 3px 32px;

  font-size: 14px;
  line-height: 16px;

  color: #8A94A6;
}

.rating__bar {
  display: flex;
  justify-content: space-between;

  width: 35px;
  margin: 0;
  margin-left: 17.5px;
  padding: 0;

  list-style: none;
}
