.slide {
  position: relative;

  width: 336px;
  padding-bottom: 15px;

  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 24px 40px rgba(57, 65, 74, 0.1);
}

.slide__title {
  margin: 0;
  margin-top: 10px;
  padding: 5px 32px;

  font-size: 28px;
  font-weight: normal;
  line-height: 36px;
}

.slide__description {
  margin: 0;
  padding: 16px 32px;
}

.slide__add-wrapper {
  position: absolute;
  top: 30px;
  right: 20px;
}

.slide__add-button {
  position: relative;
  top: 184px;
  right: 4px;

  width: 48px;
  height: 48px;
  margin: 0;
  padding: 0;

  background-color: #0070E0;
  border: none;
  border-radius: 50%;
}

.slide__add-button::before,
.slide__add-button::after {
  content: "";
  position: absolute;
  left: 50%;

  display: block;

  width: 17px;
  height: 1.5px;

  background-color: #FFF;
}

.slide__add-button::before {
  transform: translateX(-50%);
}

.slide__add-button::after {
  transform: translateX(-50%) rotate(90deg);
}
