mixin modalError
  section.modal.modal--error.modal--hidden
    .modal__inner
      button.modal__close(type="button") Закрыть окно
      h3.modal__title Произошла ошибка!
      p.modal__message Код ошибки: 404.
      p.modal__message Пожалуйста, перезагрузите страницу.
